#events-show {
  .modal {
    label {
      display: none;
    }

    .modal-title, .modal-body {
      color: #04151F;
    }

    .modal-footer, .modal-header {
      border: 0;
    }

    textarea.form-control {
      height: 150px;
    }
  }
  .reserved {
    color: #8BB484;
  }

  .opened {
    color: lightgrey;
  }
}

.show-banner {
  height: 300px;
}

.top-text {
  padding-bottom: 1rem;
}

.location {
  padding-top: 1rem;
  p {
    margin-bottom: 0;
  }
}
