.profile-banner {
  height: 240px;
}

.title {
  font-size: 14px;
  padding:0;
  margin: 10px;
  i.fa-star {
    color: #FDB849;
  }
}

.about-btn {
  border-radius: 20px 20px 20px 0px;
  width:100%;
}

.photo-btn {
  background:#FDB849;
  width: 137px;
  height: 40px;
  left: 32px;
  top: 1874px;
  border-radius: 20px 20px 20px 0px;
  color: white;
}

.invite-btn {
  width: 100%;
  margin-top: 2em;
}


.green-background {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1519671282429-b44660ead0a7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1770&q=80');
}

.about {
  margin-top: 2em;
}

.about-top p {
  color: #8BB484;
  font-size: 14px;
}

.green-background {
  margin-top: 2em;
}

.profile-card {
  height: 200px;
  width: 200px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1496660879542-a78ca4fc8b0c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1501&q=80');
  background-size: cover;
  background-position: center;
}

.pink {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1499062918700-389fa905494e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80');
  background-size: cover;
  background-position: center;
}

.profile-avatar-box {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.profile-avatar {
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.cancelled-events {
  height: 200px;
  width: 200px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1558346489-19413928158b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
  background-size: cover;
  background-position: center;
}

.event-box {
  padding: 1em;
  width: 100%;
  margin-bottom: 80px;
  h3 {
    color: white;
    margin-bottom: 1em;
  }
}

.profile-event-card {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.701);
  border: solid white 1px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.profile-event-card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  i {
    font-size: 2em;
    margin-right: 0.8em;
  }
}

.event-card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0.8em;
  p {
    margin: 0;
    font-size: 1rem;
  }
}

.event-box a {
  text-decoration: none;
  color: black;
}

.event-box a:hover {
    color:#FDB849;
  }

.green-background-profile {
  background-color:#8BB484;
}
