ul {
  padding: 0;
}

.my-events-card {
  background-color: white;
  border: solid rgb(215, 215, 215) 1px;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1em;
}

.my-events-card ul {
  padding: 0;
  margin: 0;
}

.text-edit {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;

  h5 {
    color: black;
    margin:0;
  }

  .event-card-title a {
    color: black;
    margin: 0;
  }
}

#description {
  font-size: 14px;
  color: grey;
  margin-top: 20px;
  overflow: auto;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  .btn {
    width: 100%;
  }
}

#chat-link {
  padding-top: 1em;
  i {
    color: #8BB484;
  }
  a {
    color: #8BB484;
  }
}

.participants {
  justify-content: space-between;
  margin-bottom: 1em;

  #reject {
    padding-left: 1em;
  }

  a {
  color: #8BB484;
  }
}

h6 {
  padding-bottom: 1em;
}

.booking-requests {
  list-style: none;
  a {
    color: black;
  }
  img {
    margin-right: 0.2em;
  }
  ul {
    margin: 0;
  }
  .first-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.3em;
  }


  .second-line {
    font-size: 14px;
    color: grey;
    padding-left: 48px;
    padding-bottom: 0.5em;
    p {
      font-size: 14px;
      color: grey;
    }
  }

  .h-divider{
    margin-top:5px;
    margin-bottom: 1em;
    height:1px;
    width:100%;
    border-top:1px solid #FF9AC2;
  }
}

#reject {
  color: rgb(155, 29, 29);
}

#accept {
  color: #8BB484;
}

.participants-avatars {
  font-size: 14px;
}

#reject {
  margin-left: 10px;
}
