<%= render 'shared/navbar' %>
<%= render 'shared/menubar' %>

<div class="chat-index">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-8">
        <% if @chatrooms.present? %>
          <nav class="event-title">
            <% @chatrooms.each do |chatroom| %>
            <% if chatroom.event.user == current_user %>
              <div class="chatroom-card">
                <%= cl_image_tag chatroom.event.user.photo.key, class: "avatar"%>
                <div class="card-product-infos">
                  <h2>
                    <%= link_to chatroom.event.title, chatroom_path(chatroom.id), class: "nav-link room-nav-link" %>
                  </h2>
                </div>
              </div>
            <% end %>
          <% end %>
          </nav>
        <% else %>
          <div class="text-muted">
            The are no chatrooms
          </div>
        <% end %>
      </div>
</div>
