<div class="banner" style="background-image: linear-gradient(0deg, rgba(139, 180, 132, 0.2), rgba(139, 180, 132, 0.2)), url('https://images.squarespace-cdn.com/content/v1/5a29f04864b05fef9acc4670/1512699158518-6IPSIKIVQW1Q61HCJ5UC/109__stilllife.jpg?format=1000w'); min-height:100vh;">
  <div class="container p-5">
  <h2 style="text-align: center; padding-top: 40px; color: white">Your request has been sent!</h2>
  <p style="text-align: center; font-weight: 200px; color:white;">The host will get back to you soon</p>
  <div class="button" style="text-align: center;">
    <%= link_to "Close", bookings_path %>
  </div>
  </div>
</div>
