.btn {
  background:#FDB849;
  width: 137px;
  height: 40px;
  left: 32px;
  top: 1874px;
  border-radius: 20px 20px 20px 0px;
  color: white;
}

.btn a {
  color: white;
}

.btn-warning {
  background-color: #d9534f;
}
