.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  flex-basis: auto;
  display: flex;
}

.navbar-nav {
  flex-direction: row;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.navbar-brand {
  align-self: flex-start;
}

.dropdown.show {
  display: flex;
  flex-direction: column;
}

.avatar {
  align-self: flex-end;
}

.navbar-light .navbar-nav .nav-link {
  color:white;
}
