.image-event {
  margin-bottom: 8px;
  margin-right: 8px;
  height: 100px;
  width: 100px;
}

.images {
  display: flex;
  width: 220px;
  flex-wrap: wrap;
  margin-bottom: 16px;
  margin-top: 8px;
}
