// reviews

#list-group {
  margin-bottom: 2em;
  padding: 0;

  a {
    margin-bottom: 2em;
  }
}

#list-group-item {
  list-style-type: none;
}

.card-review {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 30px;
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(218, 218, 218);
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

  p {
    margin: 1em;
    color: black;
    font-size: 0.9em;
  }
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 1em 1em 0em 1em;

  .delete-button {
    margin-top: -0.2em;
    padding-right: 1em;
    font-size: 0.8em;
  }

  .stars {
    display: flex;

    i {
      color: rgb(236, 201, 0);
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    }

    p {
      flex-direction: row-reverse;
      margin-right: 16px;
      font-size: 0.8em;
      margin-top: 0;
      margin-left: 1em;
    }
  }
}
